{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <h1>Searching by tag - {{ tag.name }}</h1>
        <div class="row">
            {% for article in tag.articles %}
                <div class="col-md-6">
                    <header>
                        <h2>{{ article.title }}</h2>
                    </header>

                    <p>
                        {{ article.summary }}
                    </p>

                    <small class="author">
                        {{ article.author }}
                    </small>

                    <footer>
                        <div class="pull-left">
                            {% for tag in article.tags %}
                                <a class="btn btn-default btn-xs" href="{{ path('articles_with_tags', {'name': tag.name}) }}">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                        <div class="pull-right">
                            {% if app.getUser() and (article.isAuthor(app.getUser()) or app.getUser().isAdmin()) %}
                                <a class="btn btn-primary btn-xs" href="{{ path('article_edit', {'id': article.id}) }}">Edit</a>
                                <a class="btn btn-danger btn-xs" href="{{ path('article_delete', {'id':article.id}) }}">Delete</a>
                            {% endif %}
                            <a class="btn btn-default btn-xs" href="{{ path('article_view', {'id': article.id}) }}">Read more &raquo;</a>
                        </div>
                    </footer>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

